%h1 Listing pages

%table
  %tr
    %th Name
    %th Created
    %th Updated
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= link_to page, page

%br

= link_to 'New Page', new_page_path
